@import url("https://use.typekit.net/sce4zcz.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  height: auto;
  margin-bottom: 8em;
}

.hero-wrapper #auctioneer-svg {
  width: 20vw;
  margin-right: 16em;
  margin-top: 2em;
}

.hero-wrapper .hero-container-left .hero-header h1 {
  font-size: 5.5em;
  color: black;
  text-shadow: 0px 3px 4px #0000004d;
  letter-spacing: 0.06em;
}

.hero-wrapper .hero-container-left .hero-subtext {
  font-size: 0.9em;
}

.grid {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  -webkit-column-gap: 10em;
          column-gap: 10em;
  row-gap: 10em;
  margin-right: 10vw;
  margin-left: 10vw;
}

.grid a {
  -webkit-transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.grid .item:hover {
  background-color: #3d1b7e;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.grid .item {
  margin: 0 auto;
  height: auto;
  width: 100%;
  -webkit-box-shadow: 0px 6px 6px #00000029;
          box-shadow: 0px 6px 6px #00000029;
  border-radius: 12px;
  padding-top: 2em;
  background-color: #8044f2;
  -webkit-transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.grid .item .item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 250px;
  background-color: #272727;
  -webkit-box-shadow: 0px 6px 6px #00000029;
          box-shadow: 0px 6px 6px #00000029;
  border-radius: 8px;
}

.grid .item .item-img img {
  display: block;
  height: 100%;
}

.grid .item .item-info {
  color: white;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.grid .item .item-info .lot-wrapper {
  display: block;
  float: left;
}

.grid .item .item-info .lot-wrapper h2 {
  font-size: 12pt;
  font-weight: 300;
  margin-bottom: 0;
}

.grid .item .item-info .price-wrapper {
  float: right;
  display: block;
}

.grid .item .item-info .price-wrapper h2 {
  font-size: 12pt;
  font-weight: 300;
  margin-bottom: 0;
  color: #76f8b7;
}

.grid .item .item-info hr {
  margin: 0;
  padding: 0;
}

.grid .item .item-info-2 {
  color: white;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

.grid .item .item-info-2 a {
  -webkit-transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.grid .item .item-info-2 a:hover {
  color: #8044f2;
}

.grid .item .item-info-2 h2 {
  text-align: left;
  font-size: 18px;
  font-weight: 800;
  margin-top: 0;
}

.grid .item .item-info-2 p {
  text-align: left;
  font-size: 12px;
  margin-bottom: 2em;
}
/*# sourceMappingURL=auctions.css.map */