@import url('https://use.typekit.net/sce4zcz.css');
$mainPurple: #8044f2;
$mainGreen: #76f8b7;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

html {
    font-size: 2vw;
}

h1 {
    font-family: 'playfair-display', serif;
    font-weight: 900;
}

body {
    font-family: 'aktiv-grotesk-extended', sans-serif;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
}

p {
    font-size: 2em;
}

button {
    font-size: 2em;
    margin-top: 1.4em;
    padding: 0.8em 2em;
    border-radius: 12px;
    box-shadow: 0px 6px 6px #00000029;
    background-color: $mainPurple;
    color: white;
    border: none;
}

.green-mobile {
    position: absolute;
    z-index: -1;
    left: -10px;
    top: 11em;
    width: 100vw;
}

.purple-mobile {
    position: absolute;
    z-index: -1;
    left: -20px;
    top: 76em;
    width: 110%;
}

.nav-wrapper {
    img {
        width: 60vw;
        padding: 4em 0em 0.4em;
    }
}

.hero-wrapper {
    margin: 0 auto;
    width: 80vw;
    padding: 0em;
    padding-top: 6em;
    margin-bottom: 28em;
    img {
        width: 80vw;
        padding-bottom: 1.4em;
        display: none;
    }
    .hero-container-left {
        text-align: left;
        .hero-header {
            h1 {
                font-size: 5.5em;
                color: white;
                text-shadow: 0px 3px 4px #0000004d;
                letter-spacing: 0.06em;
                margin-bottom: 0.4em;
            }
        }
        .hero-subtext {
        }
        .hero-button {
            text-align: center;
        }
    }
}

.cards-section-wrapper {
    margin: 0 auto;
    width: 80vw;

    h1 {
        color: $mainGreen;
        text-shadow: 0px 3px 6px #00000029;
        font-size: 6em;
        margin-bottom: 0.6em;
    }
    p {
        color: white;
        line-height: 1.8em;
    }
    button {
        margin-top: 1.4em;
        padding: 0.8em 2em;
        border-radius: 12px;
        box-shadow: 0px 6px 6px #00000029;
        background-color: $mainGreen;
        border: none;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.card-one {
    h1 {
        margin-bottom: -0.2em;
    }
    img {
        width: 100%;
    }
    p {
        text-align: left;
    }
}

.card-two {
    padding-top: 20em;
    img {
        width: 110%;
        margin-top: 2em;
    }
    p {
        margin-top: 0.6em;
        text-align: left;
    }
}

.card-three {
    padding-top: 20em;
    img {
        width: 100%;
        margin-top: 2em;
    }
    p {
        margin-top: 1em;
        text-align: left;
    }
}

.footer-container {
    text-align: left;
    width: 100vw;
    background-color: white;
    li {
        font-size: 2em;
    }
    p {
        text-align: center;
    }
}
