@import url('https://use.typekit.net/sce4zcz.css');
$mainPurple: #8044f2;
$mainPurpleDark: #3d1b7e;
$mainGreen: #76f8b7;
$mainGreenDark: #018060;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

html {
    font-size: 2vw;
}

h1 {
    font-family: 'playfair-display', serif;
    font-weight: 900;
}

body {
    font-family: 'aktiv-grotesk-extended', sans-serif;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
}

p {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-size: 2em;
    margin-top: 1.4em;
    padding: 0.8em 2em;
    border-radius: 12px;
    box-shadow: 0px 6px 6px #00000029;
    background-color: $mainPurple;
    color: white;
    border: none;
    font-weight: 600;
}

.green-mobile {
    position: absolute;
    z-index: -1;
    left: -10px;
    top: 11em;
    width: 100vw;
}

.purple-mobile {
    position: absolute;
    z-index: -1;
    left: -20px;
    top: 76em;
    width: 110%;
}

.nav-wrapper {
    img {
        width: 60vw;
        padding: 4em 0em 0.4em;
    }
    .mylinks {
        display: none;
    }
}

.hero-wrapper {
    margin: 0 auto;
    width: 80vw;
    padding: 0em;
    padding-top: 6em;
    margin-bottom: 22em;
    img {
        width: 80vw;
        padding-bottom: 1.4em;
        display: none;
    }
    .hero-container-left {
        text-align: left;
        .hero-header {
            h1 {
                font-size: 5.5em;
                color: white;
                text-shadow: 0px 3px 4px #0000004d;
                letter-spacing: 0.06em;
                margin-bottom: 0.6em;
            }
        }
        .hero-subtext {
            margin-bottom: 3em;
            font-size: 1.1em;
        }
        .hero-button {
            text-align: center;
            margin-right: -6em;
            button {
                padding: 1.2em 1.4em;
                background-color: $mainPurple;
                transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
            }
            button:hover {
                background-color: $mainPurpleDark;
            }
        }
    }
}

.purple-desktop {
    display: none;
}

.cards-section-wrapper {
    margin: 0 auto;
    width: 80vw;

    h1 {
        color: $mainGreen;
        text-shadow: 0px 3px 6px #00000029;
        font-size: 6em;
        margin-bottom: 0.6em;
        letter-spacing: 0.06em;
    }
    p {
        color: white;
        line-height: 1.8em;
        font-weight: 500;
    }
    button {
        margin-top: 1.4em;
        padding: 0.8em 2em;
        border-radius: 12px;
        box-shadow: 0px 6px 6px #00000029;
        background-color: $mainGreen;
        color: black;
        border: none;
        transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    }
    button:hover {
        background-color: $mainGreenDark;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.card-one {
    h1 {
        margin-bottom: -0.2em;
    }
    img {
        width: 100%;
    }
    p {
        text-align: left;
    }
}

.card-two {
    padding-top: 20em;
    img {
        width: 110%;
        margin-top: 2em;
    }
    p {
        margin-top: 0.6em;
        text-align: left;
    }
}

.card-three {
    padding-top: 20em;
    padding-bottom: 30em;
    img {
        width: 100%;
        margin-top: 2em;
    }
    p {
        margin-top: 1em;
        text-align: left;
        span {
            font-weight: 800;
        }
    }
}

.footer-container {
    padding: 5em 5em 1em;
    text-align: left;
    width: 100vw;
    background-color: white;
    img {
        width: 14em;
    }
    ul {
        font-size: 2em;
        padding-bottom: 2em;
    }
    p {
        font-size: 1.4em;
        text-align: center;
        color: $mainPurple;
        span {
            font-weight: 800;
            text-decoration: underline;
        }
    }
}

@media (min-width: 640px) {
    html {
        font-size: 1vw;
    }

    body {
        font-family: 'aktiv-grotesk-extended', sans-serif;
        margin: 0 auto;
        text-align: left;
        overflow-x: hidden;
    }

    footer {
        display: none;
    }

    .nav-wrapper {
        margin: 0 auto;
        width: 80vw;
        img {
            width: 20%;
            padding-top: 2em;
        }
        .mylinks {
            text-align: right;
            display: block;
            float: right;
            margin-top: 2em;
            a {
                padding: 2em 1.4em;
                font-size: 1.2em;
                font-weight: 400;
            }
            .forartists {
                float: right;
                margin-top: -0.8em;
                border: $mainGreen solid 1px;
                padding: 1em 1.4em;
                border-radius: 12px;
                transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
            }
            .forartists:hover {
                background-color: $mainGreen;
                color: white;
            }
            .forcharities {
                position: absolute;
                top: 5.4em;
                right: 8em;
                border: red solid 1px;
                padding: 1em 1em;
                border-radius: 12px;
                transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
            }

            .forcharities:hover {
                background-color: red;
                color: white;
            }
        }
    }

    .green-mobile {
        display: none;
    }

    .purple-mobile {
        display: none;
    }

    .hero-wrapper {
        margin: 0 auto;
        width: 80vw;
        padding: 0em;
        padding-top: 6em;
        margin-bottom: 10em;
        img {
            position: absolute;
            right: 10vw;
            width: 40vw;
            margin-top: 6em;
            display: block;
        }
        .hero-container-left {
            text-align: left;
            .hero-header {
                h1 {
                    font-size: 5.5em;
                    color: black;
                    text-shadow: none;
                    letter-spacing: 0.06em;
                    margin-bottom: 0.6em;
                }
            }
            .hero-subtext {
                width: 40%;
                margin-bottom: 3em;
                font-size: 0.8em;
            }
            .hero-button {
                text-align: left;
                margin-right: -6em;
                button {
                    font-size: 1.4em;
                    padding: 0.8em 1em;
                    background-color: $mainPurple;
                    transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
                }
                button:hover {
                    background-color: $mainPurpleDark;
                }
            }
        }
    }

    .purple-desktop {
        display: block;
        position: absolute;
        left: -2em;
        top: 38em;
        width: 110%;
        z-index: -1;
    }

    .cards-section-wrapper {
        width: 100vw;
        clear: both;
        margin: 0 auto;
        margin-bottom: 4em;
        button {
            display: none;
        }
        h1 {
            font-size: 5em;
        }
        p {
            font-size: 1.4em;
        }
    }

    .cards-section-wrapper:after {
        content: '';
        display: table;
        clear: both;
    }

    .card-one {
        width: 26vw;
        float: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0 3em;
        margin: 0 1em;
        margin-left: 10%;
        background-color: $mainPurple;
        border-radius: 12px;
        height: 70vh;
        img {
            margin-top: 4em;
        }
    }

    .card-two {
        width: 26vw;
        float: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0 3em;
        margin: 0 1em;
        background-color: $mainPurple;
        border-radius: 12px;
        height: 70vh;
    }

    .card-three {
        width: 26vw;
        float: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0 3em;
        margin: 0 1em;
        background-color: $mainPurple;
        border-radius: 12px;
        height: 70vh;
        span {
            font-size: 1.4em;
            color: $mainGreen;
        }
    }

    .footer-container {
        margin-top: 14em;
        clear: both;
        padding: 1em 10em;
        text-align: left;
        width: 100vw;
        background-color: white;
        img {
            width: 8em;
        }
        ul {
            float: right;
            font-size: 1.4em;
            padding-bottom: 1em;
            a {
                font-weight: 200;
            }
            .auctions-link {
                font-weight: 900;
            }
        }
        p {
            clear: both;
            font-size: 1.4em;
            text-align: left;
            color: $mainPurple;
            span {
                font-weight: 800;
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: 900px) {
    .card-one {
        height: 90vh;
    }
    .card-two {
        height: 90vh;
    }
    .card-three {
        height: 90vh;
    }
}

@media (min-width: 1150px) {
    .nav-wrapper {
        .mylinks {
            a {
                font-size: 1em;
            }
            .forcharities {
                right: 10em;
            }
        }
    }
    .cards-section-wrapper {
        p {
            font-size: 1em;
        }
    }
    // .card-one {
    //     height: 120vh;
    // }
    // .card-two {
    //     height: 120vh;
    // }
    // .card-three {
    //     height: 120vh;
    // }
}
