@import url("https://use.typekit.net/sce4zcz.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

html {
  font-size: 2vw;
}

h1 {
  font-family: 'playfair-display', serif;
  font-weight: 900;
}

body {
  font-family: 'aktiv-grotesk-extended', sans-serif;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

p {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 2em;
  margin-top: 1.4em;
  padding: 0.8em 2em;
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 6px #00000029;
          box-shadow: 0px 6px 6px #00000029;
  background-color: #8044f2;
  color: white;
  border: none;
  font-weight: 600;
}

.green-mobile {
  position: absolute;
  z-index: -1;
  left: -10px;
  top: 11em;
  width: 100vw;
}

.purple-mobile {
  position: absolute;
  z-index: -1;
  left: -20px;
  top: 76em;
  width: 110%;
}

.nav-wrapper img {
  width: 60vw;
  padding: 4em 0em 0.4em;
}

.nav-wrapper .mylinks {
  display: none;
}

.hero-wrapper {
  margin: 0 auto;
  width: 80vw;
  padding: 0em;
  padding-top: 6em;
  margin-bottom: 22em;
}

.hero-wrapper img {
  width: 80vw;
  padding-bottom: 1.4em;
  display: none;
}

.hero-wrapper .hero-container-left {
  text-align: left;
}

.hero-wrapper .hero-container-left .hero-header h1 {
  font-size: 5.5em;
  color: white;
  text-shadow: 0px 3px 4px #0000004d;
  letter-spacing: 0.06em;
  margin-bottom: 0.6em;
}

.hero-wrapper .hero-container-left .hero-subtext {
  margin-bottom: 3em;
  font-size: 1.1em;
}

.hero-wrapper .hero-container-left .hero-button {
  text-align: center;
  margin-right: -6em;
}

.hero-wrapper .hero-container-left .hero-button button {
  padding: 1.2em 1.4em;
  background-color: #8044f2;
  -webkit-transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.hero-wrapper .hero-container-left .hero-button button:hover {
  background-color: #3d1b7e;
}

.cards-section-wrapper {
  margin: 0 auto;
  width: 80vw;
}

.cards-section-wrapper h1 {
  color: #76f8b7;
  text-shadow: 0px 3px 6px #00000029;
  font-size: 6em;
  margin-bottom: 0.6em;
  letter-spacing: 0.06em;
}

.cards-section-wrapper p {
  color: white;
  line-height: 1.8em;
  font-weight: 500;
}

.cards-section-wrapper button {
  margin-top: 1.4em;
  padding: 0.8em 2em;
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 6px #00000029;
          box-shadow: 0px 6px 6px #00000029;
  background-color: #76f8b7;
  color: black;
  border: none;
  -webkit-transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.cards-section-wrapper button:hover {
  background-color: #018060;
}

.cards-section-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-one h1 {
  margin-bottom: -0.2em;
}

.card-one img {
  width: 100%;
}

.card-one p {
  text-align: left;
}

.card-two {
  padding-top: 20em;
}

.card-two img {
  width: 110%;
  margin-top: 2em;
}

.card-two p {
  margin-top: 0.6em;
  text-align: left;
}

.card-three {
  padding-top: 20em;
  padding-bottom: 30em;
}

.card-three img {
  width: 100%;
  margin-top: 2em;
}

.card-three p {
  margin-top: 1em;
  text-align: left;
}

.card-three p span {
  font-weight: 800;
}

.footer-container {
  padding: 5em 5em 1em;
  text-align: left;
  width: 100vw;
  background-color: white;
}

.footer-container img {
  width: 14em;
}

.footer-container ul {
  font-size: 2em;
  padding-bottom: 2em;
}

.footer-container p {
  font-size: 1.4em;
  text-align: center;
  color: #8044f2;
}

.footer-container p span {
  font-weight: 800;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */