@import url("https://use.typekit.net/sce4zcz.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

html {
  font-size: 2vw;
}

h1 {
  font-family: 'playfair-display', serif;
  font-weight: 900;
}

body {
  font-family: 'aktiv-grotesk-extended', sans-serif;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

p {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 2em;
  margin-top: 1.4em;
  padding: 0.8em 2em;
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 6px #00000029;
          box-shadow: 0px 6px 6px #00000029;
  background-color: #8044f2;
  color: white;
  border: none;
  font-weight: 600;
}

.green-mobile {
  position: absolute;
  z-index: -1;
  left: -10px;
  top: 11em;
  width: 100vw;
}

.purple-mobile {
  position: absolute;
  z-index: -1;
  left: -20px;
  top: 76em;
  width: 110%;
}

.nav-wrapper img {
  width: 60vw;
  padding: 4em 0em 0.4em;
}

.nav-wrapper .mylinks {
  display: none;
}

.hero-wrapper {
  margin: 0 auto;
  width: 80vw;
  padding: 0em;
  padding-top: 6em;
  margin-bottom: 22em;
}

.hero-wrapper img {
  width: 80vw;
  padding-bottom: 1.4em;
  display: none;
}

.hero-wrapper .hero-container-left {
  text-align: left;
}

.hero-wrapper .hero-container-left .hero-header h1 {
  font-size: 5.5em;
  color: white;
  text-shadow: 0px 3px 4px #0000004d;
  letter-spacing: 0.06em;
  margin-bottom: 0.6em;
}

.hero-wrapper .hero-container-left .hero-subtext {
  margin-bottom: 3em;
  font-size: 1.1em;
}

.hero-wrapper .hero-container-left .hero-button {
  text-align: center;
  margin-right: -6em;
}

.hero-wrapper .hero-container-left .hero-button button {
  padding: 1.2em 1.4em;
  background-color: #8044f2;
  -webkit-transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.hero-wrapper .hero-container-left .hero-button button:hover {
  background-color: #3d1b7e;
}

.purple-desktop {
  display: none;
}

.cards-section-wrapper {
  margin: 0 auto;
  width: 80vw;
}

.cards-section-wrapper h1 {
  color: #76f8b7;
  text-shadow: 0px 3px 6px #00000029;
  font-size: 6em;
  margin-bottom: 0.6em;
  letter-spacing: 0.06em;
}

.cards-section-wrapper p {
  color: white;
  line-height: 1.8em;
  font-weight: 500;
}

.cards-section-wrapper .card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  font-size: 2em;
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 6px #00000029;
          box-shadow: 0px 6px 6px #00000029;
  background-color: #76f8b7;
  color: white;
  border: none;
  font-weight: 600;
  -webkit-transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.cards-section-wrapper .card-button a {
  display: inline-block;
  padding: 0.8em 2em;
  height: 100%;
  width: 100%;
}

.cards-section-wrapper .card-button:hover {
  background-color: #018060;
}

.cards-section-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-one {
  position: relative;
}

.card-one h1 {
  margin-bottom: -0.2em;
}

.card-one img {
  width: 100%;
}

.card-one p {
  text-align: left;
}

.card-two {
  position: relative;
  padding-top: 20em;
}

.card-two img {
  width: 110%;
  margin-top: 2em;
}

.card-two p {
  margin-top: 0.6em;
  text-align: left;
}

.card-three {
  position: relative;
  padding-top: 20em;
  padding-bottom: 30em;
}

.card-three img {
  width: 100%;
  margin-top: 2em;
}

.card-three p {
  margin-top: 1em;
  text-align: left;
}

.card-three p span {
  font-weight: 800;
}

.footer-container {
  padding: 5em 5em 1em;
  text-align: left;
  width: 100vw;
  background-color: white;
}

.footer-container img {
  width: 14em;
}

.footer-container ul {
  font-size: 2em;
  padding-bottom: 2em;
}

.footer-container p {
  font-size: 1.4em;
  text-align: center;
  color: #8044f2;
}

.footer-container p span {
  font-weight: 800;
  text-decoration: underline;
}

@media (min-width: 640px) {
  html {
    font-size: 1vw;
  }
  body {
    font-family: 'aktiv-grotesk-extended', sans-serif;
    margin: 0 auto;
    text-align: left;
    overflow-x: hidden;
  }
  footer {
    display: none;
  }
  .nav-wrapper {
    margin: 0 auto;
    width: 80vw;
  }
  .nav-wrapper img {
    width: 20%;
    padding-top: 2em;
  }
  .nav-wrapper .mylinks {
    text-align: right;
    display: block;
    float: right;
    margin-top: 2em;
  }
  .nav-wrapper .mylinks a {
    padding: 2em 1.4em;
    font-size: 1.2em;
    font-weight: 400;
  }
  .nav-wrapper .mylinks .forartists {
    float: right;
    margin-top: -0.8em;
    border: #76f8b7 solid 1px;
    padding: 1em 1.4em;
    border-radius: 12px;
    -webkit-transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  .nav-wrapper .mylinks .forartists:hover {
    background-color: #76f8b7;
    color: white;
  }
  .nav-wrapper .mylinks .forcharities {
    position: absolute;
    top: 5.4em;
    right: 8em;
    border: red solid 1px;
    padding: 1em 1em;
    border-radius: 12px;
    -webkit-transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  .nav-wrapper .mylinks .forcharities:hover {
    background-color: red;
    color: white;
  }
  .green-mobile {
    display: none;
  }
  .purple-mobile {
    display: none;
  }
  .hero-wrapper {
    margin: 0 auto;
    width: 80vw;
    padding: 0em;
    padding-top: 6em;
    margin-bottom: 10em;
  }
  .hero-wrapper img {
    position: absolute;
    right: 10vw;
    width: 40vw;
    margin-top: 6em;
    display: block;
  }
  .hero-wrapper .hero-container-left {
    text-align: left;
  }
  .hero-wrapper .hero-container-left .hero-header h1 {
    font-size: 5.5em;
    color: black;
    text-shadow: none;
    letter-spacing: 0.06em;
    margin-bottom: 0.6em;
  }
  .hero-wrapper .hero-container-left .hero-subtext {
    width: 40%;
    margin-bottom: 3em;
    font-size: 0.8em;
  }
  .hero-wrapper .hero-container-left .hero-button {
    text-align: left;
    margin-right: -6em;
  }
  .hero-wrapper .hero-container-left .hero-button button {
    font-size: 1.4em;
    padding: 0.8em 1em;
    background-color: #8044f2;
    -webkit-transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  .hero-wrapper .hero-container-left .hero-button button:hover {
    background-color: #3d1b7e;
  }
  .purple-desktop {
    display: block;
    position: absolute;
    left: -2em;
    top: 38em;
    width: 110%;
    z-index: -1;
  }
  .cards-section-wrapper {
    width: 100vw;
    clear: both;
    margin: 0 auto;
    margin-bottom: 4em;
  }
  .cards-section-wrapper .card-button {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 4%;
    text-align: center;
    font-size: 1.4em;
  }
  .cards-section-wrapper h1 {
    font-size: 5em;
  }
  .cards-section-wrapper p {
    font-size: 1.4em;
  }
  .cards-section-wrapper:after {
    content: '';
    display: table;
    clear: both;
  }
  .card-one {
    width: 26vw;
    float: left;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 3em;
    margin: 0 1em;
    margin-left: 10%;
    background-color: #8044f2;
    border-radius: 12px;
    height: 68vh;
  }
  .card-one img {
    margin-top: 4em;
  }
  .card-two {
    width: 26vw;
    float: left;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 3em;
    margin: 0 1em;
    background-color: #8044f2;
    border-radius: 12px;
    height: 68vh;
  }
  .card-three {
    width: 26vw;
    float: left;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 3em;
    margin: 0 1em;
    background-color: #8044f2;
    border-radius: 12px;
    height: 68vh;
  }
  .card-three span {
    font-size: 1.4em;
    color: #76f8b7;
  }
  .footer-container {
    margin-top: 14em;
    clear: both;
    padding: 1em 10em;
    text-align: left;
    width: 100vw;
    background-color: white;
  }
  .footer-container img {
    width: 8em;
  }
  .footer-container ul {
    float: right;
    font-size: 1.4em;
    padding-bottom: 1em;
  }
  .footer-container ul a {
    font-weight: 200;
  }
  .footer-container ul .auctions-link {
    font-weight: 900;
  }
  .footer-container p {
    clear: both;
    font-size: 1.4em;
    text-align: left;
    color: #8044f2;
  }
  .footer-container p span {
    font-weight: 800;
    text-decoration: underline;
  }
}

@media (min-width: 800px) {
  .card-one {
    height: 80vh;
  }
  .card-two {
    height: 80vh;
  }
  .card-three {
    height: 80vh;
  }
}

@media (min-width: 900px) {
  .card-one {
    height: 100vh;
  }
  .card-two {
    height: 100vh;
  }
  .card-three {
    height: 100vh;
  }
}

@media (min-width: 1150px) {
  .nav-wrapper {
    height: 10vh;
  }
  .nav-wrapper .mylinks a {
    font-size: 1em;
  }
  .nav-wrapper .mylinks .forcharities {
    right: 10em;
  }
  .hero-wrapper {
    padding: 0;
    height: 90vh;
  }
  .cards-section-wrapper p {
    font-size: 1em;
  }
  .card-one {
    height: 110vh;
  }
  .card-two {
    height: 110vh;
  }
  .card-three {
    height: 110vh;
  }
}
/*# sourceMappingURL=main.css.map */